@{
    ViewBag.Title = "Error";
}

@section Body{
    <div class="container" style="background-color: white; margin-top: 20px">
        <div class="row">
            <div class="col-md-5">
                <img src="~/Content/images/error.png"/>
            </div>
            <div class="col-md-7">
                <h1>Произошла ошибка!</h1>
                <p>Во время вашего запроса произошла какая-то ошибка, обратитесь за помощью к администратору.</p>
            </div>
        </div>
    </div>
}