@{
    ViewBag.Title = "404 Not Found";
}

@section Body{
    <div class="container" style="background-color: white; margin-top: 20px">
        <div class="row">
            <div class="col-md-5">
                <img src="~/Content/images/error.png"/>
            </div>
            <div class="col-md-7">
                <h1>Произошла ошибка!</h1>
                <p>Запрашиваемый файл не найден. Возможно он был удален или отдыхает :).</p>
            </div>
        </div>
    </div>
}