@using PhotoAlbum.Models
@model IEnumerable<PictureProfileModel>

<div class="row">
    @{
        string rotadedClass = "right";
        int profilesCount = Model.Count();
    }
    @if (profilesCount > 0)
    {
    foreach (var profile in Model)
    {
        <div class="item">
            <div class="well">
                <a href="@Url.Action("ShowPicture", "PhotoAlbum", new { pictureId = profile.PictureId, userId = profile.UserId })">
                    <div class="picture-preview @rotadedClass-rotated">
                        <img src="data:image/jpeg;base64,@profile.Image" />
                        <label>@profile.Name</label>
                    </div>
                </a>
            </div>       
        </div>
        
        if (rotadedClass == "right")
        {
            rotadedClass = "left";
        }
        else
        {
            rotadedClass = "right";
        }
    }
    }
    else
    {
        <label style="font-family: HTC hand; font-size: 20px; text-align: center;">Никто ещё не добавил фото :(. Станьте первым! ;)</label>
    }
</div>